<!doctype html>
<html>
	<head>
		<title>Yet another pastebin like service</title>
		<style type="text/css">
			.container {
			max-width: 550px;
			padding-top: 100px;
			font-size: 150%;
			}
		</style>
	</head>
	<body>
		<center><div class="container">
		<p>This is index page of pastebin like service, which uses Python, Flask and Redis.</p>
		<p>You can add pastes by POST-request to <b>{{ post_url }}</b> with curl or by <a href={{ client_url }}>this client</a>.</p>
		<br>
		<p>Source code can be found on <a href={{ github_url }}>Github</a></p>
		</div></center>
	</body>
</html>
